<div class="container">
  <div class="row">
    <div class="col-12 col-md-7 mx-auto">
      <h1>
        {{ title }}
      </h1>
      @if (allTodos.length > 0) { There 
        @if(allTodos.length === 1) {is}@else{are} {{allTodos.length}} open  @if(allTodos.length === 1) {to-do}@else{to-dos}:
      <ul>
        @for (todo of allTodos; track $index) {
        <app-todo-item-component
          [openTodo]="todo"
          [id]="$index"
        ></app-todo-item-component>
        }
      </ul>
      <p class="my-2">
        You can see all to-dos, which are marked as done
        <a
          class="link-primary"
          routerLink="/done"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >here</a
        >
      </p>
      } @else { <p class="my-5">There is nothing to do. Please enjoy your day! 🎉</p> }
      <hr />
      <p>Here you can add more to-dos:</p>
      <app-todo-input></app-todo-input>
    </div>
  </div>
</div>
