<div class="container">
  <div class="row">
    <div class="col-12 col-md-5 mx-auto">
      <h1>
        {{ title }}
      </h1>
      @if (!!allTodos.length) { There are open todos:
      <ul>
        @for (todo of allTodos; track $index) {
        <app-todo-item-component
          [openTodo]="todo"
          [id]="$index"
        ></app-todo-item-component>
        }
      </ul>
      <p class="my-2">
        You can see all to dos already done
        <a
          class="link-primary"
          routerLink="/done"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >here</a
        >
      </p>
      } @else { There is nothing to do. Please enjoy your day! 🎉 }
      <p>Here you can add more to dos:</p>
      <app-todo-input></app-todo-input>
    </div>
  </div>
</div>
