<div class="container">
  <div class="row">
    <div class="col-12 col-md-7 mx-auto">
      <h1>List of done to-dos</h1>
      @if (doneItems.length > 0) { Great job! Here are your done to-dos:
      <ul>
        @for (item of doneItems; track $index) {
        <app-todo-item-component
          [openTodo]="item"
          [id]="$index"
        ></app-todo-item-component>
        }
      </ul>
      Permanently delete all done to-dos:
      <button
        type="submit"
        (click)="deleteAllDoneItems()"
        class="btn btn-danger"
      >
        delete all
      </button>
      } @else { <p>Nothing marked as done yet 😢</p>}

      <p>
        Go back and see if there are open to-dos on your
        <a
          class="link-primary"
          routerLink=""
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >to-do list</a
        >
      </p>
    </div>
  </div>
</div>
