<li class="py-2 fs-5">
    @if (!edit){
    <div class="d-flex justify-content-between">
        <span>{{openTodo}}</span>
        @if (withActions){
            <span>
                <button type="submit" (click)="edit = true" class="btn btn-success btn-sm ms-2">edit</button>
                <button type="submit" (click)="deleteTodoItem()" class="btn btn-primary btn-sm ms-2">done</button>
            </span>
        }
    </div>
    } @else {
        <input type="text" class="form-control" value={{openTodo}} #editInput (keydown.enter)="changeTodo()">
    }
</li>
